<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
    <% include ./partials/snow %>
    <% include ./partials/mainjs %>
  </head>
  <body> 
    <div class="container centerering">
      <div class="row centerering">     
        <div class="col-sm-2 info"><% include ./partials/logout %>
          Logged in as : <%= currentUser %>
          <p>You have access to reviewing restaurants</p>
          <form action="/deleteUser<%= currentUser.userID %>" method="POST">
          <button type="submit" class="btn btn-danger">Delete account</button>
          </form>
        </div>
        <table class="col-sm-4 centerering">
          <td>Filter restaurants
            <select id="Category">
              <option value="None">None</option>
            <% for(let i = 0; i < allRestaurants.length; i++) { %>
                  <option value="<%= allRestaurants[i].restaurant_Type %>">
                    <%= allRestaurants[i].restaurant_Type %></option>  
            <% } %>                                                                                                                  } %>
          </select>
        <button type="button" id="catBtn">Filter</button>
        </td>
          <td><a href="/reviewRestaurant" class="btn btn-secondary">Review a restaurant</a></td>
          <td>Update page for better average raiting</td>
          <td> </td>
          <tr>
            <th>Show reviews</th>
            <th>Name</th>
            <th>Location</th>
            <th>Type</th>
            <th>Average raiting</th>
            <th>Number of reviews</th>
          </tr>
 
            <% for(let i = 0; i < allRestaurants.length; i++) { %>
                <tr class="checkCat" id="<%= allRestaurants[i].restaurant_Type %>">
                  <td><form action="/reviews/<%=allRestaurants[i].restaurant_ID %>" method="GET">
                    <button class="btn btn-info" type="submit">Reviews</button>
                  </form>
                  </td>
                  
                  <td><%= allRestaurants[i].restaurant_Name %></td>
                  <td><%= allRestaurants[i].restaurant_Location %></td>
                  <td><%= allRestaurants[i].restaurant_Type %></td>
                  <td><%= raitings[i] %></td>
                  <td>tbt</td>
                </tr>
                <% } %>
          </table>
     </div>
    </div>
  </body>
</html>
