<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
    <% include ./partials/snow %>
  </head>
  <body> 
    <div class="container centerering">
        <h1>ADMIN VIEW</h1>
      <div class="row centerering">            
        <table class="col-sm-4 centerering">
          <td>Filter restaurants
            <select id="Category">
              <option value="None">None</option>
            <% for(let i = 0; i < allRestaurants.length; i++) { %>
                  <option value="<%= allRestaurants[i].restaurant_Type %>">
                    <%= allRestaurants[i].restaurant_Type %></option>  
            <% } %>                                                                                                                  } %>
          </select>
        <button type="button" id="catBtn">Filter</button>
        </td>
          <td><a href="/addRestaurant" class="btn btn-primary">Add new restaurant</a></td>
          <td><a href="/reviewRestaurant" class="btn btn-secondary">Review a restaurant</a></td>
          <tr>
            <th>Show reviews</th>
            <th>Name</th>
            <th>Location</th>
            <th>Type</th>
            <th>Average raiting</th>
            <th>Number of reviews</th>
            <th>Action</th>
            <th>Action</th>
          </tr>
 
            <% for(let i = 0; i < allRestaurants.length; i++) { %>
                <tr class="checkCat" id="<%= allRestaurants[i].restaurant_Type %>">
                  <td><form action="/reviews/<%=allRestaurants[i].restaurant_ID %>" method="GET">
                    <button class="btn btn-info" type="submit">Reviews</button></td>
                  
                  <td><%= allRestaurants[i].restaurant_Name %></td>
                  <td><%= allRestaurants[i].restaurant_Location %></td>
                  <td><%= allRestaurants[i].restaurant_Type %></td>
                  <td><%= raitings[i] %></td>
                  <td>tbt</td>
                  <td>
                    <form action="/editRestaurant/<%= allRestaurants[i].restaurant_ID %>" method="GET">
                    <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                  </td>
                  <td>
                    <form action="/deleteRestaurant/<%= allRestaurants[i].restaurant_ID %>" method="POST">
                  <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this restaurant?')">Delete</button>
                  </form>
                </td>
                </tr>
                <% } %>
          </table>
     </div>
    </div>
  </body>
</html>
