<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
    <% include ./partials/snow %>
    <% include ./partials/mainjs %>
  </head>
  <body> 
    <div class="container centerering">
      <div class="row centerering">         
        <div class="info col-sm-1"><% include ./partials/logout %>
          Logged in as <%= currentUser %>
        </div>   
        <table class="col-sm-3 table table-striped test">
      <tr>
        <td>Filter restaurants
          <select id="Category">
            <option value="None">None</option>
          <% for(let i = 0; i < allTypes.length; i++) { %>
                <option value="<%= allTypes[i].restaurant_Type %>">
                  <%= allTypes[i].restaurant_Type %></option>  
          <% } %>                                                                                                                  } %>
        </select>
        <button type="button" id="catBtn">Filter</button>
        </td>
          <td><a href="/addRestaurant" class="btn btn-primary">Add new restaurant</a></td>
          <td><a href="/reviewRestaurant" class="btn btn-secondary">Review a restaurant</a></td>
          <td><a href="/restaurants" class="btn btn-primary">All restaurants</a></td>
          <td><a href="/top10" class="btn btn-primary">Top raited restaurants</a></td>
      </tr>
          <tr>
            <th>Show reviews</th>
            <th>Name</th>
            <th>Location</th>
            <th id="type">Type</th>
            <th>Average raiting</th>
            <th>Number of reviews</th>
            <th>Admin</th>
            <th>Admin</th>
          </tr>
 
            <% for(let i = 0; i < allRestaurants.length; i++) { %>
                <tr class="checkCat" id="<%= allRestaurants[i].restaurant_Type %>">
                  <td><form action="/reviews/<%=allRestaurants[i].restaurant_ID %>" method="GET">
                    <button class="btn btn-info" type="submit">Reviews</button>
                  </form>
                  </td>
                  
                  <td><%= allRestaurants[i].restaurant_Name %></td>
                  <td><%= allRestaurants[i].restaurant_Location %></td>
                  <td><%= allRestaurants[i].restaurant_Type %></td>
                  <td><%= allRestaurants[i].topraited %></td>
                  <td><%= allRestaurants[i].nmrOfReviews %></td>
                  <td>
                    <form action="/editRestaurants/<%= allRestaurants[i].restaurant_ID %>" method="GET">
                    <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                  </td>
                  <td>
                    <form action="/restaurants/<%= allRestaurants[i].restaurant_ID %>" method="POST">
                  <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this restaurant?')">Delete</button>
                  </form>
                </td>
                </tr>
                <% } %>
          </table>
     </div>
    </div>
  </body>
</html>
